# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.env
.env.*

# Logs
logs
*.log

# VS Code
.vscode/
.history/

# IntelliJ
.idea/
*.iml
out/

# Playwright
/playwright-report/
/playwright/.cache/
/test-results/

# Misc
.DS_Store
Thumbs.db
